{% extends 'base.html' %}
{% block content %}
<div class="table-responsive my-3 p-2">
    <div class="row justify-content-between my-3">
        <!-- 기능 구현은 아직이다.-->
        <div class="col-2">
            <select class="form-control so">
                <option value="recent" {% if so=='recent' %}selected{% endif %}>출원일 최신순</option>
                <option value="recommend" {% if so=='recommend' %}selected{% endif %}>국문 명칭순</option>
                
            </select>
        </div>


        <!-- 검색기능 구현 시작-->
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
        <!-- 검색기능 구현 종료-->
    </div>

    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th style="width:5%">번호</th>
                <th style="width:9%">OurRef</th>
                <th style="width:9%">입금일자</th>
                <th>의뢰인</th>
                <th>출원인</th>
                <th style="width:7%">출원일</th>
                <th>출원번호</th>
                <th>우선심사청구일</th>
                <th>우선심사결정일</th>
                <th>등록일</th>
                <th>등록번호</th>
                <th>국문명칭</th>
                <th style="width:5%">담당자01</th>
                <th style="width:5%">담당자02</th>
                <th style="width:5%">변리사</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
            {% for question in question_list.items %}
            <tr>
                <td>{{ question_list.total - ((question_list.page-1)*question_list.per_page)-loop.index0 }}</td>
            
                <td>{{ question.our_ref }}</td>
                <td>{{ question.pay_date }}</td>
                <td>{{ question.req_name }}</td>
                <td>{{ question.cus_name }}</td>
                <td>{{ question.date }}</td>
                <td>{{ question.number }}</td>
                <td>{{ question.q_date }}</td>
                <td>{{ question.q_d_date }}</td>
                <td>{{ question.d_d_date }}</td>
                <td>{{ question.d_d_num }}</td>
                <td>{{ question.p_name }}</td>
                <td>{{ question.charge_01 }}</td>
                <td>{{ question.charge_02 }}</td>
                <td>{{ question.p_charge }}</td>
                
                
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_prev %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.prev_num }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        {% for page_num in question_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != question_list.page %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_num }}" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_num }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    
</div>
<form id="searchForm" method="get" action="{{ url_for('question._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
<!-- 검색 스크립트 시작-->
{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}