{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h3>
    <td class="text-start">
        <a href="{{url_for('question._list')}}">{{ question.p_name }}</a>
    </td>
    </h3>

    <!-- 관리번호 표기부 시작 -->
    <h5 class="border-bottom my-3 py-2">관리번호</h5>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.our_ref }}</div>
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
    <!-- 관리번호 표기부 종료 -->

    <!-- 의뢰인 표기부 시작 -->
    <h5 class="border-bottom my-3 py-2">의뢰인</h5>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.req_name }}</div>
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
    <!-- 의뢰인 표기부 종료 -->

    <!-- 출원인 표기부 시작 -->
    <h5 class="border-bottom my-3 py-2">출원인</h5>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.cus_name }}</div>
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
    <!-- 출원인 표기부 종료 -->

    <!-- 출원일 표기부 시작 -->
    <h5 class="border-bottom my-3 py-2">출원일 / 출원번호</h5>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.date }} / {{ question.number }}</div>
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
    <!-- 출원일 표기부 종료 -->

    <!-- 담당자_01 / 담당자_02 / 변리사 표기부 시작 -->
    <h5 class="border-bottom my-3 py-2">담당자_01 / 담당자_02 / 변리사</h5>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.charge_01 }} / {{ question.charge_02 }} / {{ question.p_charge }}</div>
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
    <!-- 담당자_01 / 담당자_02 / 변리사 표기부 종료 -->


    <!-- ======================= -->
    <!-- ======================= -->
    <!-- ======================= -->
    <!-- ======================= -->

    <!-- 입금일 표기부 시작 -->
    <h5 class="border-bottom my-3 py-2">입금일자</h5>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.pay_date }}</div>
            <div class="d-flex justify-content-end">
            </div>
        </div>
    </div>
    <!-- 입금일 표기부 종료 -->

    <!-- 입금일자 입력부 시작-->
    <form action="{{ url_for('question.create', question_id=question.id) }}" method="post" class="my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 start -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ','.join(errors)}}
        </div>
        {% endfor %}
        <!-- 오류표시 end -->


        <!-- 입금일 등록 버튼부 시작-->

        <div class="form-group">
            <textarea {% if not g.user.username == "관리자" %}disabled{% endif %}
            name="content" id="content" class="form-control" rows="2"></textarea>
            <!-- 지정한 계정, 예시에서는 "테스트계정" 이 아니면 disabled 하였다.-->
        </div>
        <input {% if not g.user.username == "관리자" %}disabled{% endif %} type="submit" value="입금일 등록" class="btn btn-primary float-left">
        <!-- 지정한 계정, 예시에서는 "테스트계정" 이 아니면 disabled 하였다.-->

        <!-- 입금일 등록 버튼부 종료-->
        
    </form>
    <!-- 입금일자 입력부 종료 -->

    <!-- 메인페이지 이동부 시작-->
    <form action="{{ url_for('question._list') }}">
        <input type="submit" value="메인페이지 이동" class="btn btn-primary float-right">
    </form>
    <!-- 메인페이지 이동부 종료-->
    

</div>
{% endblock %}
